.DS_Store
._*
.vscode/
__pycache__/
APPLE/
Microsoft/
Boot/
BOOT/
Dell/
Manjaro/
*.aml
ACPI/iasl
macserial
CLOVER/*
!CLOVER/config.plist
OC/*
!OC/config.plist
*.kext
!Kexts/*
Clover_Install_Log.txt
test.py
tmp
XPS15*.zip