APPLE/
Microsoft/
Boot/
BOOT/
Dell/
Manjaro/
*.aml
# tools
macserial
iasl
# CLOVER
CLOVER/*
!CLOVER/config.plist
# OC
OC/*
!OC/config.plist
*.kext
# misc
Clover_Install_Log.txt
.DS_Store
._*
.vscode/
__pycache__/
*_smbios.json
!sample_smbios.json
tmp
test.py
XPS15*.zip