.DS_Store
._*
.vscode/
__pycache__/
APPLE/
Microsoft/
Boot/
BOOT/
Dell/
Manjaro/
*.aml
ACPI/iasl
macserial
CLOVER/*
!CLOVER/config.plist
OC/*
!OC/config.plist
*.kext
!Kexts/CPUFriendDataProvider.kext
!Kexts/USBPorts.kext
Tools/
Drivers/
Clover_Install_Log.txt
my_smbios.plist
tmp
XPS15*.zip