<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>model</key>
	<string>XPS15-9570</string>
	<key>product</key>
	<string>MacBookPro15,1</string>
	<key>sn</key>
	<string>C02WVDY3KGYG</string>
    <key>mlb</key>
	<string>C028248024NJP4FA8</string>
	<key>smuuid</key>
	<string>C167D3A2-CC13-4041-8CED-553D772C0749</string>
</dict>
</plist>