<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Rename BRT6 to BRTX, pair with SSDT-BCKM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QlJUNgI=
					</data>
					<key>Replace</key>
					<data>
					QlJUWAI=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename _WAK to ZWAK, pair with SSDT-DGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					FDlfV0FLAQ==
					</data>
					<key>Replace</key>
					<data>
					FDlaV0FLAQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename USTP to One, pair with SSDT-TPDX</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VVNUUBA=
					</data>
					<key>Replace</key>
					<data>
					AaOjoxA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename RP17.PXSX._RMV to XRMV, pair with SSDT-TYPC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UlAxN1BYU1gUM19STVY=
					</data>
					<key>Replace</key>
					<data>
					UlAxN1BYU1gUM1hSTVY=
					</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>xh_cfhd4</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<false/>
			</dict>
			<key>PluginType</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>darkwake=1</string>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>-1</integer>
		<key>XMPDetection</key>
		<integer>1</integer>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>2</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>No</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>brcmfx-country</key>
				<string>#a</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>alc-delay</key>
				<integer>500</integer>
				<key>layout-id</key>
				<integer>72</integer>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				AACbPg==
				</data>
				<key>agdpmod</key>
				<string>vit9696</string>
				<key>disable-external-gpu</key>
				<data>
				AQAAAA==
				</data>
				<key>dpcd-max-link-rate</key>
				<data>
				FAAAAA==
				</data>
				<key>enable-dpcd-max-link-rate-fix</key>
				<data>
				AQAAAA==
				</data>
				<key>enable-hdmi-dividers-fix</key>
				<data>
				AQAAAA==
				</data>
				<key>enable-hdmi20</key>
				<data>
				AQAAAA==
				</data>
				<key>enable-lspcon-support</key>
				<data>
				AQAAAA==
				</data>
				<key>force-online</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con1-alldata</key>
				<data>
				AQUJAAAEAACHAQAA
				</data>
				<key>framebuffer-con1-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con2-alldata</key>
				<data>
				AgYJAAAEAACHAQAA
				</data>
				<key>framebuffer-con2-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con3-alldata</key>
				<data>
				AwQKAAAIAACHAQAA
				</data>
				<key>framebuffer-con3-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con3-has-lspcon</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-portcount</key>
				<data>
				BAAAAA==
				</data>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAAgA==
				</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Recovery</string>
			<string>Preboot</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>Nightwish</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				cJ0AAA==
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleHDAController</string>
				<key>Replace</key>
				<data>
				SKMAAA==
				</data>
			</dict>
		</array>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>SetupVirtualMap</key>
		<true/>
		<key>SyncRuntimePermissions</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BoardSerialNumber</key>
		<string>C028248024NJP4FA8</string>
		<key>ProductName</key>
		<string>MacBookPro15,1</string>
		<key>SerialNumber</key>
		<string>C02WVDY3KGYG</string>
		<key>SmUUID</key>
		<string>C167D3A2-CC13-4041-8CED-553D772C0749</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
